<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dingyi.myluaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:name="com.dingyi.myluaapp.MainApplication"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLuaApp"
        android:fullBackupContent="@xml/backup_descriptor">


        <activity
            android:exported="true"
            android:name="com.dingyi.myluaapp.ui.welcome.WelcomeActivity"
            android:theme="@style/Theme.MyLuaApp"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>
                <category
                    android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.dingyi.myluaapp.ui.main.MainActivity" />

        <activity android:name="com.dingyi.myluaapp.ui.newproject.NewProjectActivity" />

        <activity android:name="com.dingyi.myluaapp.ui.editor.EditorActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dingyi.myluaapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/myluaapp_filepaths" />
        </provider>
    </application>

</manifest>