name: Android CI

on:
  push:
    branches: [ dev-0.5.x ]
  pull_request:
    branches: [ dev-0.5.x ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - uses: actions/upload-artifact@v2
        with:
          name: app-debug
          path: ${{github.workspace}}/app/build/outputs/apk/debug/*.apk
